
#link {
    width: 300px;
}

#load-button {
    margin-right: 50px;
}

#change-value {
    display: inline-block;
    width: 30px;
    font-family: monospace;
    font-size: 12pt;
    text-align: center;
}

#set-mono-font {
    margin-left: 50px;
}

#set-us-format {
    margin-left: 50px;
}

